.overlay {
    @include overlay(rgba(0, 0, 0, 0.4));
    display: none;

    &.overlay-active {
        display: block;
    }
}

.spinner-overlay {
    @include overlay(rgba(0, 0, 0, 0.4));
    display: block;
}