// GLOBAL VARIABLES

// COLORS
$primary-color: #ee6e73;
$secondary-color: #fafafa;
$primary-text-color: #666666;

// FONTS
$font-stack-primary: "Roboto";
$heading-font-primary: "Roboto Condensed", sans-serif;
$font-weight-bold: 700;
$font-weight-normal: 400;
$font-weight-thin: 300;